# BASE DE DATOS
DB_NAME=prueba
DB_USER=root
DB_PASSWORD=12345
DB_HOST=127.0.0.1
DB_PORT=3306

# CONFIGURACIÓN DE DJANGO
SECRET_KEY=(ejecuta en tu terminal: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())")
DEBUG=True